<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Timedoor Tester Checklist</title>
  </head>
  <body>
    <div class="container">
      <h1>Tester Checklist Automation</h1>

    <form action="/result" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">URL Website :</label>
          <input type="text" class="form-control" id="urlwebsite" name="urlwebsite" autocomplete="off" aria-describedby="emailHelp" placeholder="dev.apindotrainingcenter.com">
          <div id="emailHelp" class="form-text">Cth : dev.apindotrainingcenter.com</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">URL Protocol :</label>
            <input type="text" class="form-control" id="urlprotocol" name="urlprotocol" autocomplete="off" aria-describedby="emailHelp" placeholder="https://">
            <div id="emailHelp" class="form-text">Cth : https://</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username Credential :</label>
          <input type="text" class="form-control" id="usercredent" name="usercredent" autocomplete="off" aria-describedby="emailHelp" placeholder="apindo">
          <div id="emailHelp" class="form-text">Cth : apindo</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Password Credential :</label>
        <input type="text" class="form-control" id="passcredent" name="passcredent" autocomplete="off" aria-describedby="emailHelp" placeholder="9VIiV!QqvPQ8UJ!1lN">
        <div id="emailHelp" class="form-text">Cth : 9VIiV!QqvPQ8UJ!1lN</div>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <center>
        {% if result %}
        <h5>Waktu yang digunakan = {{tc}}</h5>
        <h5>Usercredent = {{userc}}</h5>
        <h5>Passcredent = {{passc}}</h5>
        <h5>Site = {{site}}</h5>
        <h5>Url = {{urlp}}</h5>
        <h5> Basic Auth = {{result[0]}}</h5>
        <h5> Robot = {{result[1]}}</h5>
        <h5> Homepage Text & Link Credit = {{result[2]}}</h5>
        <h5> Otherpage Text & Link Credit = {{result[4]}}</h5>
        <h5> 404 Page = {{result[3]}}</h5>
        <h5> Meta title & description = {{result[5][2]}}</h5>
        <h6>{{result[5][0]}}</h6><br>
        <h5> Page title & content description = {{result[5][3]}}</h5>
        <h6>{{result[5][1]}}</h6>
        <h5> Pesan = {{msg}}</h5>
        {% endif %}
      </center>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
  </body>
</html>