<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Timedoor Tester Checklist</title>
  </head>
  <body>
    <div class="content">
      <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid" id="container">
          <div class="left-nav">
            <a class="navbar-brand" href="#">Tester Checklist Automation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="right-nav">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Test Automated</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Panduan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tester Checklist</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- content start -->
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          Lorem Ipsum
        </div>
        <div class="col-md-6" id="form-data">
          <form class="w-75 p-3" action="/result" method="post">
            <div class="mb-3" class="form-input">
              <label for="exampleInputEmail1" class="form-label">URL Website :</label>
              <span><div id="help" class="form-text">Cth : dev.apindotrainingcenter.com</div></span>
              <input type="text" class="form-control rounded-pill shadow border-light" id="urlwebsite" name="urlwebsite" autocomplete="off" aria-describedby="emailHelp" placeholder="dev.apindotrainingcenter.com" required>
            </div>
            <div class="mb-3" class="form-input">
                <label for="exampleInputEmail1" class="form-label">URL Protocol :</label>
                <span><div id="help" class="form-text">Cth : https://</div></span>
                <input type="text" class="form-control rounded-pill shadow border-light" id="urlprotocol" name="urlprotocol" autocomplete="off" aria-describedby="emailHelp" placeholder="https://" required>
            </div>
            <div class="mb-3" class="form-input">
                <label for="exampleInputEmail1" class="form-label">Username Credential :</label>
                <span><div id="help" class="form-text">Cth : apindo</div></span>
              <input type="text" class="form-control rounded-pill shadow border-light" id="usercredent" name="usercredent" autocomplete="off" aria-describedby="emailHelp" placeholder="apindo">
            </div>
            <div class="mb-3" class="form-input">
              <label for="exampleInputEmail1" class="form-label">Password Credential :</label>
              <span><div id="help" class="form-text">Cth : 9VIiV!QqvPQ8UJ!1lN</div></span>
              <input type="text" class="form-control rounded-pill shadow border-light" id="passcredent" name="passcredent" autocomplete="off" aria-describedby="emailHelp" placeholder="9VIiV!QqvPQ8UJ!1lN">
            </div><br>
            <button type="submit" class="btn btn-primary rounded-pill shadow w-100">Submit</button>
          </form>
        </div>  
      </div>
      {% if result %}
      <div class="row d-flex justify-content-center rounded shadow p-3" id="result">
        <!-- result -->
        <center><strong><span class="m-2">Hasil Automation Test</span></strong></center><br><br><hr>
        <div class="table-responsive">
          <table class="table">
            <thead style="text-align: center ;">
              <tr>
                <th>URL</th>
                <th>URL Protocol</th>
                <th>User Credent</th>
                <th>Password Credent</th>
                <th>Waktu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{site}}</td>
                <td>{{urlp}}</td>
                <td>{{userc}}</td>
                <td>{{passc}}</td>
                <td>{{tc}} detik</td>
              </tr>
            </tbody>
          </table>
          <div class="scroll">
            <div class="row">
              <div class="col-md-4">
                Cek Basic Auth :
              </div>
              <div class="col-md-8">
                  {{result[0]}}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek Robot Tag :
              </div>
              <div class="col-md-8">
                  {{result[1]}}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek Footer Homepage :
              </div>
              <div class="col-md-8">
                  {{result[2]}}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek 404 Page :
              </div>
              <div class="col-md-8">
                  {{result[3]}}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek Footer Otherpage:
              </div>
              <div class="col-md-8">
                  {{result[4]}}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek Meta Tag :
              </div>
              <div class="col-md-8">
                <h6>{{result[5][1]}}</h6>
                {% if result[5][1] != 'Ada'%}
                <div class="subdesc">Cek halaman yang tidak ada/tidak sesuai pada data berikut :</div>
                {% for i in result[5][0] %}
                  {{i}} <hr>
                {% endfor %}
                {% endif %}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek Title & Link :
              </div>
              <div class="col">
                <h6>{{result[6][1]}}</h6>
                {% if result[6][1] != 'Ada'%}
                <div class="subdesc">Terdapat halaman yang error / locator tidak ditemukan, silahkan cek data halaman tersebut pada data di bawah ini</div>
                {% else %}
                <div class="subdesc">Silahkan cek apakah title halaman sudah sesuai dengan link</div><hr>
                {% endif %}
                {% for i in result[6][0] %}
                  {{i}} <hr>
                {% endfor %}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek Heading :
              </div>
              <div class="col-md-8">
                <!-- Page heading -->
                <h6>{{result[7][0]}}</h6>
                {% if result[7][0] != 'Ada' %}
                <div class="subdesc">Cek halaman yang tidak ada/tidak sesuai pada data berikut</div> <hr>
                {% else %}
                <div class="subdesc">Silahkan cek urutan tag heading apakah sudah sesuai aturan</div> <hr>
                {% endif %}
                {% for i in result[7][1] %}
                  {{i}} <hr>
                {% endfor%}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek Alt Image :
              </div>
              <div class="col-md-8">
                <h6>{{result[8][0]}}</h6>
                {% if result[8][0] != 'Sesuai'%}
                <div class="subdesc">Cek halaman yang tidak ada/tidak sesuai pada data berikut</div> <hr>
                {% for i in result[8][1] %} 
                  {{i}} <hr>
                {% endfor %}
                {% endif %}
              </div>
            </div><hr>
            <div class="row mt-1">
              <div class="col-md-4">
                Cek Breadcrumb :
              </div>
              <div class="col-md-8">
                <h6>{{result[9][0]}}</h6>
                {% if result[9][0] != 'Ada'%}
                  {% if result[9][0] == 'Terdapat tidak ditemukan'%}
                  <div class="subdesc">Breacrumb tidak ditemukan - locator pada website ini berbeda</div><hr>
                  {% else %}
                  <div class="subdesc">Cek halaman yang tidak ditemukan/tidak sesuai pada data berikut</div><hr>
                  {% endif %}
                {% else %}
                <div class="subdesc">Cek urutan breadcrumb pada data berikut</div><hr>
                {% for i in result[9][1] %}
                  {{i}} <hr>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- footer -->
      <footer>
        <span>Copyright 2022 by Citananta</span>
      </footer>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>