* {
    margin: 0;
    padding: 0;
}
.content {
    width: 100%;
}
nav {
    height: 6rem;
    margin-bottom: 2rem;
    border-radius: 0 0 20px 20px;
}
nav a, nav a:hover {
    color: white;
}
#navbarNav ul li a {
    color: white;
}
.left-nav {
    padding-left: 2rem;
}
.right-nav {
    padding-right: 2rem;
}
/* content */
#form-data span #help {
    margin-top: -0.7rem;
    margin-bottom: 0.6rem;
}
#result {
    width: 800px;
    margin: 2rem auto;
}
.data-input tr th {
    border: 1px black solid;
}
.data-input tr td {
    border: 1px black solid;
}
.data-result tr td {
    border: 1px black solid;
}
.subdesc {
    font-size: 12px;
    margin-top: -0.5rem;
}
.scroll {
    max-height: 75vh;
    overflow-y: auto;
}
/* footer */
